<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Ingre1:</strong>
  <%= @recipe.ingre1 %>
</p>

<p>
  <strong>Ingre2:</strong>
  <%= @recipe.ingre2 %>
</p>


<%= link_to 'Back', recipes_path %>
